<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App | Quiz</title>
</head>
<body style="background-color: dodgerblue;">
    <center style="color: white;">
        <h1>Trivia Quiz</h1> 
    </center>
    <style>
        #question::placeholder{
            background-color:dodgerblue ;
        }        
        #answer:hover{
            background-color: yellow;
            border: none;
        }
        .btn1:hover{
            background-color: red;
        }
    </style>
    <div style="margin-top: 150px;"> 
        <form action="{% url 'start-quiz' %}" method="POST">
            {% csrf_token %}
            <table align='center'>
                <tr>
                    <th>
                        <center>
                            <input type="text" name="question" id="question" value="What is your name ?" style="border: none;text-align: center;font-size: 30px;background-color: dodgerblue;" readonly>                
                        </center>
                    </th>
                </tr>
                <tr>
                    <td>
                        <center>
                            <input type="text" name="answer" id="answer" style="width: 200px; height: 30px;text-align: center;" placeholder="Enter your name" required></td>
                        </center>
                </tr>
                <tr>
                    <td>
                        <center>
                            <input type="submit" class="btn1" value="Start Game" style='width: 100px; height: 30px;background-color: mediumblue;color: white;border: white;'>                        
                        </center>
                    </td>
                </tr>
            </table>      
        </form>
    </div>
    
</body>
</html>














